<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of picArray">
      <ion-thumbnail item-start>
        <img *ngIf="item.thumbnails" [src]="url+item.thumbnails['160']">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      <button ion-button clear item-end (click)="openPic('http://placekitten.com/2048/1920')" >View</button>
    </ion-item>
  </ion-list>
</ion-content>
